.cartModal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1002;
}

.cartModal.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 1001;
}

.overlay.open {
  visibility: visible;
  opacity: 1;
}

.modalContent {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2em; /* Increased size */
  cursor: pointer;
}

.modalTitle {
  color: #000;
}

.emptyCartText {
  color: #000;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cartItemImage img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0 10px;
  color: #000;
}

.quantitySelector {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.quantitySelector button {
  width: 30px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.quantitySelector button:hover {
  background-color: #333;
  color: #fff;
}

.quantitySelector span {
  margin: 0 10px;
  font-size: 1.2em;
}

.cartItemPrice {
  margin-top: 10px;
  color: #000;
}

.cartItemRemove button {
  background: none;
  color: red;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.total {
  font-size: 1.2em;
  margin-top: 20px;
  color: #000;
}

.checkoutButton {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

/* Mobile Optimization */
@media (max-width: 768px) {
  .cartModal {
    width: 100%;
  }

  .closeButton {
    font-size: 2.5em;
  }

  .cartItem {
    height: auto; /* Adjust height for mobile */
  }

  .cartItemImage img {
    width: 200px;
    height: 200px;
  }

  .cartItemDetails {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    color: #000;
    align-items: center;
  }

  .quantitySelector {
    margin: 10px 0;
  }

  .cartItemPrice {
    margin-top: 5px;
  }

  .cartItemRemove button {
    align-self: flex-start;
    font-size: 1.5em;
  }

  .checkoutButton {
    width: 100%;
    text-align: center;
  }

.total {
    font-size: 2.5em;
  }

  .checkoutButton {
    font-size: 2em;
    padding: 20px 20px;
    margin-top: 20px;
  }
}
