.cartPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.backButton {
    background: none;
    border: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
    align-self: flex-start;
}
  
.backButton:hover {
    text-decoration: underline;
}
  
.cartHeader {
    margin-bottom: 20px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 5%;
    font-size: 1.2em;
}
  
.cartTable {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
.cartTable th, .cartTable td {
    padding: 10px;
    text-align: center;
}
  
.cartTable th {
    background-color: #f6f6f6;
}
  
.cartHeaderLeft {
    text-align: left;
}
  
.cartItemImage image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
  
.cartItemName a {
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-align: left;
}
  
.cartItemPrice, .cartItemTotal {
    font-size: 1.2em;
}
  
#cartItemQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
}
  
.quantity {
    display: flex;
    border: 1px solid #ddd;
    overflow: hidden;
    width: fit-content;
}
  
.quantity button {
    width: 30px;
    height: 40px;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
  
  .quantity button:hover {
    background-color: #333;
    color: #ddd;
}
  
.quantity span {
    margin: 0 10px;
    padding: 0 10px;
    line-height: 40px;
}
  
.cartItemRemove button {
    background: none;
    border: none;
    color: red;
    font-size: 1.5em;
    cursor: pointer;
}
  
.cartSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 80%;
}
  
.checkoutButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
  
.checkoutButton:hover {
    background-color: #333;
}
  
/* Mobile */
@media (max-width: 768px) {
    .cartTable {
        width: 100%;
    }
  
    .cartTable th, .cartTable td {
        padding: 5px;
    }
  
    .cartItemImage Image {
        width: 100px;
        height: 100px;
    }
  
    .cartItemName a {
        font-size: 0.9em;
    }
  
    .cartItemPrice, .cartItemTotal {
        font-size: 1em;
    }
  
    .quantity button {
        width: 25px;
        height: 30px;
        font-size: 16px;
    }
  
    .quantity span {
        margin: 0 5px;
        padding: 0 5px;
        line-height: 30px;
    }
  
    .cartSummary {
        flex-direction: column;
        width: 100%;
        font-size: 1em;
    }
  
    .checkoutButton {
        width: 100%;
        padding: 15px 0;
    }

    .backButton {
        left: 10px;
        font-size: 1.5em; /* larger for mobile */
    }
}
  